<div class="content-homepage">
  <div class="task-table">
    <h1> Problem Set </h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Task Name</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        {{#each tasks}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td>
              <a href="homepage/tasks/{{this.slug}}">
                {{this.task_name}}
              </a>
            </td>
            <td>{{this.score}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="submission-table">
    <h1>Submissions</h1>
    <table class="table" style="overflow-y:auto;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">When</th>
          <th scope="col">Task Name</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each submissions}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td>{{this.when}}</td>
            <td>
              <a href="homepage/tasks/{{this.slug}}">
                {{this.task_name}}
              </a></td>
            <td>{{this.status}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>